<h1>TODO LIST APP</h1>
    {% include 'navbar.html' %}
<p>
This is a Todo App to help organize your todos
</p>
<h3>How it works</h3>
<ul>
    <li>User creates an account</li>
    <li>User Logs in account</li>
    <li>User creates Todo category eg. Study </li>
    <li> User adds a Todo </li>
</ul>

<h3> Functionalities </h3>
<h4> Filters </h4>
<p> Users can filter their todos according to add date and categories </p>
<h4> Delete </h4>
<p> Users can delete created todos </p>
<h4> Update </h4>
<p> Users can update todos to completed or not completed </p>
